body {
  margin: 0;
  padding: 0;
  background-color: #1D1D1D;
  overflow: hidden; 
  font-family: "basic-sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

canvas {
  display: block;
}

input {
  font-family: "basic-sans", sans-serif !important;
  font-weight: 700 !important;
}
